*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.title{
    font-family: 'Titillium Web', sans-serif;
    padding-left: 10px;
}

#brand{
    font-weight: 700;
    font-family: 'Rubik';
}

#detect{
    font-weight: 600;
}

body{
    background: url(Images/background.jpg) no-repeat center fixed; 
    background-size: cover;
        
}
.yellow{
    color: #d38c09;
}
.red{
    color: rgb(156, 34, 61);
}
.orange{
    color:rgb(230, 105, 3);
}

p{
    font-size: 1.2em;
    font-weight: 400;
}
#main{
    margin-top: 40px;
}
@media (min-width: 992px) {
    #inputimg{
        width: 60%;
    }
    #main{
        margin-top: 60px;
    }
}
